
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Kanji Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2030532145036972"
     crossorigin="anonymous"></script>
</head>
<body>
    <h1>Kanji Quiz</h1>
    <ol>
    {% for row in rows %}
        <li>{{ row['hangul_word'] }}</li>
    {% endfor %}
    </ol>
    <a href="/answers_weekly_kanji_quiz">Answers</a>
    <a href="/" class="button">Back to Home</a>
</body>
</html>
