
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카르테 단어 연습기</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to 카르테 단어 연습기!</h1>
    <a href="/quiz_hiragana">Start Hiragana Quiz</a></br>
    <a href="/quiz_kanji">Start Kanji Quiz</a></br>
    <a href="/weekly_kanji_quiz">Start Weekly Random Kanji Quiz</a><br>
    <form method="post" action="/set_seed">
    <input type="text" name="seed" placeholder="Enter Seed" />
    <button type="submit">Set Seed</button>
</form>
</body>
</html>
