
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Weekly Random Kanji Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Weekly Random Kanji Quiz</h1>
    <form method="post">
        <label for="num_rows">How many kanji do you want to be quizzed on?</label>
        <input type="text" id="num_rows" name="num_rows" required>
        <button type="submit">Start Quiz</button>
    </form>
    <a href="/" class="button">Back to Home</a>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>
</html>
